02_Transition_system/02_E_solution_nine_puzzle.ipynb
02_Transition_system/02_F_solution_wolf_goat_cabbage.ipynb
02_Transition_system/02_G_solution_Loyod_maze.ipynb
03_Problem_solving/03_F_solution_wolf_goat_cabbage.ipynb
03_Problem_solving/03_G_solution_nine_puzzle.ipynb
03_Problem_solving/03_H_solution_nine_puzzle_heuristics.ipynb
03_Problem_solving/03_I_solution_Loyod_maze.ipynb
04_Game_theory/04_D_solution_tic-tac-toe.ipynb
04_Game_theory/04_E_solution_tic-tac-toe_alfa_beta.ipynb
05_Dataset/05_C_data_analysis.ipynb
05_Dataset/05_E_solution_Portland.ipynb
06_Linear_regression/06_C_solution_Portland.ipynb
06_Linear_regression/regression_linear_model.sav
07_PCA/07_E_solution_PCA.ipynb
07_PCA/07_F_solution_polynom.ipynb
08_Classification/08_E_solution_kmean.ipynb
08_Classification/08_X_kNN.ipynb
08_Classification/08_Y_kmean_graphs.ipynb
08_Classification/classification_encoder.bin
08_Classification/classification_std_scaler.bin
08_Classification/iris_numpy.npz
08_Classification/kmean_model.sav
09_ANN/09_C_solution_kamera.ipynb
09_ANN/graph
09_ANN/graph.png
09_ANN/regresion_model.keras
09_ANN/std_scaler.bin
10_ANN_classification/10_C_solution_iris.ipynb
10_ANN_classification/classification_model_iris.keras
10_ANN_classification/classification_model_mnist.keras
10_ANN_classification/graph
10_ANN_classification/graph.png
11_CNN/11_C_solution_mnist.ipynb
12_RNN/12_E_solution_airplane.ipynb
